Hey {{name}}
Thanks for giving us your pleasure time.

Dear Customer.Thanks for Purchasing from Filtered Bottles. We are hoping that you would like the product we send you and you will recommend us to your friends.

Thanks for shopping on Filtered Bottles! You didn't just get a great deal - you also supported the growth of the Filtered Bottles community, which is pretty cool (at least we think so). Have questions or feedback? You can contact us anytime at ( waterfilteration786@gmail.com)

Regards
Team Filtered Bottles

Questions? Contact us any time at waterfilteration786@gmail.com
