{% load static %}
<!DOCTYPE HTML>
<html>
	<head>
		<title>Water Bottle Company-Products</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'accounts/bootstrap/css/bootstrap.min.css' %}" />
		<link rel="stylesheet" href="{% static 'accounts/css/main.css' %}" />
		<noscript><link rel="stylesheet" href="{% static 'accounts/css/noscript.css' %}" /></noscript>
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
				<header id="header">
					<div class="inner">

						<!-- Logo -->
							<a href="{% url 'index'%}" class="logo">
									<span class="fa fa-book"></span> <span class="title">Get your Water Bottles at your door step</span>
								</a>

						<!-- Nav -->
							<nav>
								<ul>
									<li><a href="#menu">Menu</a></li>
								</ul>
							</nav>

					</div>
				</header>

			<!-- Menu -->
				<nav id="menu">
					<h2>Menu</h2>
					<ul>
						<li><a href="{% url 'index'%}">Home</a></li>

						<li><a href="{% url 'products' %}" class="active">My_Product</a></li>

						<li><a href="{% url 'checkout'%}">Checkout</a></li>

						<li>
							<a href="#" class="dropdown-toggle">About</a>

							<ul>
								<li><a href="{% url 'about'%}">About Us</a></li>
								<li><a href="{% url 'blog'%}">Blog</a></li>
								<li><a href="{% url 'testimonials'%}">Testimonials</a></li>
								<li><a href="{% url 'terms'%}">Terms</a></li>
							</ul>
						</li>

						<li><a href="{% url 'contact'%}">Contact Us</a></li>
						<li><a href="{% url 'cart_detail'%}">Cart</a></li>
					</ul>
				</nav>

				<!-- Main -->
					<div id="main">
						<div class="inner">
							<h1>My_Product</h1>



							<!-- My_Products -->
							<section class="tiles">

								{% for data in about %}

									<article class="style1">

										<span class="image">

											<img style="size: 100%;" src="{{data.image.url}}" alt="" />
										</span>
										<a href="{% url 'product_details' data.id %}">
											<h2>{{data.name}}</h2>

											<p>{{data.price}}</p>

											<p>{{data.Description}}</p>
										</a>

									</article>
								{% endfor %}

							</section>

						</div>
					</div>

				<!-- Footer -->
					<footer id="footer">
						<div class="inner">
							<section>
								<ul class="icons">
									<li><a href="#" class="icon style2 fa-twitter"><span class="label">Twitter</span></a></li>
									<li><a href="#" class="icon style2 fa-facebook"><span class="label">Facebook</span></a></li>
									<li><a href="#" class="icon style2 fa-instagram"><span class="label">Instagram</span></a></li>
									<li><a href="#" class="icon style2 fa-linkedin"><span class="label">LinkedIn</span></a></li>
								</ul>

								&nbsp;
							</section>

							<ul class="copyright">
								<li>Copyright © 2020 Company Name </li>
								<li>Template by: <a href="https://www.phpjabbers.com/">PHPJabbers.com</a></li>
							</ul>
						</div>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="{% static 'accounts/js/jquery.min.js' %}"></script>
			<script src="{% static 'accounts/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
			<script src="{% static 'accounts/js/jquery.scrolly.min.js' %}"></script>
			<script src="{% static 'accounts/js/jquery.scrollex.min.js' %}"></script>
			<script src="{% static 'accounts/js/main.js' %}"></script>
	</body>
</html>
